
.card {
  min-height: 400px;
}

.card-img-top {
  width: 100%;
  height: 50vw;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    height: 20vw;
  }

  @include media-breakpoint-up(lg) {
    height: 15vw;
  }
}