$font-family-base: "Montserrat", Helvetica,Arial,sans-serif;
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$brand-primary: #002A3A;
$dark: $brand-primary;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #002A3A;
$primary:               $brand-primary;
$brand-info:            #2bbcc4;
$brand-success:         #00e700;
$brand-warning:         #ff7f00;
$brand-danger:          #d9534f;
$brand-default:         $gray-light;
$brand-view:            #EF3340;
$brand-orange:          #faede1;


$brand-black: #181818;
$brand-like:  #4267b2;
$brand-share: #fe6d4c;
$brand-twitter: #1b95e0;
$brand-fb: #3c66c4;
$brand-google: #d34836;
$brand-instagram: #e14869;
$white-color: #fff;


$border-base: #c9c6c6 ;
$enable-rounded: false;
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

$nav-color: rgba(255, 255, 255, 0.70);

//$grid-breakpoints:
/*        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
        */
