.eventon_events_list .eventon_list_event .evcal_desc .evcal_time::before, .evo_pop_body .evcal_desc em.evcal_time::before, .eventon_events_list .eventon_list_event .evcal_desc .evcal_location::before, .evo_pop_body .evcal_desc em.evcal_location::before {
  position: absolute;
  left: 0;
  top: 0 !important;
  display: inline-block;
  font-family: 'Font Awesome 5 Free' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ajde_evcal_calendar a {
  font-family: $font-family-base !important;
  font-weight: 500;
  margin: 10px 5px;
}

#evcal_list .eventon_list_event .evcal_desc span.evcal_event_title, .evo_lightboxes .evo_pop_body .evcal_desc span.evcal_desc2, #evcal_list .eventon_list_event .evcal_desc em, .evo_lightboxes .evcal_desc em, .ajde_evcal_calendar .evo_sort_btn, .eventon_sf_field p, .ajde_evcal_calendar #evcal_head.calendar_header #evcal_cur, .evo_fc_day {
  font-family: $font-family-base !important;
}

.eventon_events_list .eventon_list_event .ev_ftImg {
  background-repeat: no-repeat;
  width: 75px;
  height: 65%;
  max-height: 75px;
  position: absolute;
  margin: auto 0 auto 10px;
  background-size: contain !important;
  background-position: center center !important;
  display: block;
  border-radius: 5px;
  background-color: #002A3A;
}

.calendar-views {
  float: right;
}

.evo_search_bar_in a.evosr_search_btn {
  top: -4px !important;
  right: 10px;
  height: 100%;
  font-size: 16px;
}

.classes-section p.evo_month_title {
  padding-left: 0 !important;
}

.evcal_desc .evcal_desc3 em i {
  color: #ef3340 !important;
}

header.header nav .navbar-nav > li > a {

  padding: 20px 20px !important;
}

.entry-content p {
  font-size: 20px !important;
}

.eventon_list_event:not(.evo_lightbox_body) .evcal_eventcard.open {
  display: flex !important;
  flex-wrap: wrap
}

.eventon_list_event:not(.evo_lightbox_body) .evo_metarow_details,
.eventon_list_event:not(.evo_lightbox_body) .evo_metarow_directimg {
  width: 100%;

  @media(min-width: 768px) {
    max-width: 50%
  }
  img {
    background: $brand-primary;
  }
}

.ajde_evcal_calendar.boxy.boxstyle0 #evcal_list .eventon_list_event .desc_trig,
.ajde_evcal_calendar.boxy.boxstyle0 #evcal_list p.desc_trig_outter {
  padding: 6px 5px
}

.ajde_evcal_calendar.boxy .eventon_list_event, .ajde_evcal_calendar.boxy .evoShow_more_events {
  background-color: transparent !important;
}

.evo_search_results_count {
  text-align: center;
  margin: 10px auto !important;
  padding: 8px 0;
  background: rgba(255, 255, 255, .4);
  width: 60%;
  border-radius: 5px;
}

.evo_search_results_count span {
  background-color: $brand-primary !important;
  color: $white;
}

.evo_search_results {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}

.evo_search_results_count {
  color: $brand-primary !important;
}

body .EVOSR_section input[type="text"] {
  color: $gray-darker !important;
}