.featured-sections {
  img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 40vw;
    object-fit: cover;

    @include media-breakpoint-up(lg) {
      height: 20vw;
    }
  }
}