

.navbar-nav .nav-link {
  &:hover {
    color: $brand-view;
  }
}

.footer-bs {
  padding: 60px 40px;
  color: $nav-color;
  margin-top: 60px;

  .textwidget a {
    color: $nav-color;
    text-decoration: underline;
    &:hover {
      color: $brand-view;
    }
  }
  .footer-brand {
    padding: 10px 25px;
    h2 {
      margin: 0px 0px 10px;
    }
    p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.70);
    }
  }

  .footer-nav {
    padding: 10px 25px;
    border-color: transparent;
    ul.pages {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px 0px;
      }
      a {
        color: $nav-color;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: rgba(255, 255, 255, 0.80);
          text-decoration: none;
        }
      }
    }

    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }

    ul.list {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px 0px;
      }
      a {
        color: rgba(255, 255, 255, 0.80);
        &:hover {
          color: rgba(255, 255, 255, 0.60);
          text-decoration: none;
        }
      }
    }
  }

  .footer-social {
    padding: 10px 25px;
    border-color: transparent;
    ul {
      list-style: none;
      padding: 0px;
    }
    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    li {
      padding: 5px 4px;
    }
    a {
      color: $nav-color;
      &:hover {
        color: $brand-view;
        text-decoration: none;
      }
    }
  }

  .footer-ns {
    padding: 10px 25px;
    border-color: transparent;
    h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.70);
    }
  }
}

@media (min-width: 768px) {
  .footer-bs {
    .footer-nav {
      border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
    .footer-social {
      border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
    .footer-ns {
      border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
  }
}

footer {

  .nav-link {
    display: block;
    padding: 0.5rem 0;
    color: $nav-color;
    a {
      color: $nav-color;
    }

  }
}

.footer-section .main-footer .newsletter .input-group > div {
  width: 100%;
  position: relative
}

.footer-section .main-footer .newsletter h3 {
  font-size: 17px;
  text-transform: uppercase;
  color: $nav-color;
  margin-bottom: 20px
}

.footer-section .main-footer .newsletter .es_lablebox {
  display: none
}

.footer-section .main-footer .newsletter .es_button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0
}

.footer-section .main-footer .newsletter input[type=text] {
  font-size: 13px;
  background: 0 0;
  border: #a6a2a2 1px solid;
  color: $nav-color;
  padding: 6px 10px;
  width: 100%
}

.footer-section .main-footer .newsletter input[type=button] {
  border-radius: 0;
  background: #ef3340;
  font-size: 18px;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
  border: 1px;
  color: $nav-color;
  width: 100px;
  font-weight: 700
}

.footer-section .main-footer .newsletter input[type=button]:hover {
  background: #ed1725;
  border-color: #ed1725
}