.promo-header {
  //margin-bottom: -16px;
  background:  $brand-danger;
  .textwidget {
    min-height: 60px;
    padding: .5rem 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}

.custom-logo {
  width: 180px;
  height: auto;
}

.navbar-dark .navbar-nav .nav-link{
  &:hover{
    color: $brand-view;
  }
}
.wp-custom-header img {
  position: relative;
  width: 100%; /* for IE 6 */
}

#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar {
  z-index: 900;
}

.woocommerce button.button.alt {
  background-color: $brand-view !important;
}

 a.wcmenucart-contents {
      color: $nav-color;
      text-decoration: none;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      margin-left: 10px;
   &:hover{
     color: $brand-view;
   }
}