.textwidget {
  min-height: 40px;
}

.jumbotron {
  padding: 0;
  margin-bottom: $jumbotron-padding;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}

.hero-widget {
  position: absolute;
  top: 40%;
  left: 10%;
  margin: 0 auto;
  right: 10%;
  z-index: 300;
  @include media-breakpoint-up(lg) {
    top: 50%;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
    margin-bottom: 20px;
  }
}

.wp-custom-header img {
  position: relative;
  width: 100%;
  height: auto;
}