.sidebar-page-featured-image {
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding: 50px;
  position: relative;
  z-index: 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  height: 200px;

  img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}
